.adm-page {

    .ADM-add {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 10px;
    }

    .adm-add {
        display: flex;
        flex-direction: row;

    }

    .Filtro-ADM-add {

        background-color: #2A3042;
        max-width: 60%;
        max-height: 100%;
        padding: 20px;

        p {
            color: #FFF;
            font-family: 'Font2';
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        h1 {
            color: #ffffff77;
            font-family: 'Font2';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 10px;
        }

        h1:hover {
            transform: scale(1.1);
            padding: auto;
            opacity: 1;
            color: aquamarine;
        }
    }



    .hamburguer-icon {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .line {
            width: 100%;
            height: 4px;
            background-color: #333;
            border-radius: 2px;
            margin-left: 10px;
        }
    }

    .ADM-Header {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


    .ADM-Cabecalho-add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
        margin-top: 10px;
    }

    .adicionar-produto {
        padding: 10px;

        H2 {
            font: 24px 'Font9';
            font-weight: 700;
        }
    }

    .ADM-Pessoa-add {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 130px;
        width: 100%;

        img {
            margin-top: 10px;
            height: 45px;
            width: 45px;
            background-color: #fff;
            border-radius: 40px;
        }

        h2 {
            color: #ffffff;
            font-family: 'Font2';
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            margin-top: 10px;
            margin-left: 10px;

        }
    }



    .VGN-Shoes-Produto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 12px;
        background: #FFFDFD;
        box-shadow: 0px 4px 14px 0px rgba(36, 23, 23, 0.25);
        max-width: 1010px;
        width: 100%;
        height: 100%;
        padding: 8px;

        margin-top: 10px;
    }

    .Colar-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-height: 255px;
        height: 100%;



        .button {
            font-family: 'Font3';
            font-size: 12px;
            color: #ffffff;
            text-align: center;
            cursor: pointer;
            padding: 1px 1px;
            
            margin-top: 10px;
        }

        .button:hover {
            background-color: chartreuse;
        }



        .arrastar {
            border:  1px dashed #000;
            padding: 25px;
            width: 150px;
            height: 150px;
            background-image: url(../../../../public/assets/images/addprodutoADM/image94.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-clip: padding-box;
        }


    }

    .Info-Produto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       
     
        height: 100%;

        h2 {
            color: #000000;
            font-family: 'Font3';
            font-size: 16px;
            font-weight: 100;
            line-height: normal;
            margin: 10px;
        }

    }

    .Flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 84vw;
        padding: 10px;
    }


    .Tamanhos-add {
        display: flex;
        flex-direction: column;
    }

    .Tamanhos-02 {
        display: flex;
        flex-direction: column;
        align-items: start;

        input {
            display: flex;
            flex-direction: row;
            max-height: 55px;
            max-width: 50px;
            width: 100%;
            height: 100%;
            margin: 5px;
        }

        div {
            display: flex;
            flex-direction: row;
            max-height: 150px;
            max-width: 500px;
            width: 100%;
            height: 100%;
        }
    }



    .Nome {
        display: flex;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
        align-items: center;
        max-width: 240px;
        width: 100%;
        

        input {

            
            max-height: 150px;
            max-width: 120px;
            width: 100%;
            height: 100%;
            font-family: 'Font5';
            margin-left: 50px;

        }

        h3 {
            color: #000000;
            font-family: 'Font2';
            font-size: 13px;
            font-weight: 800;
            line-height: normal;
            margin-right: 5px;

        }
        

    }

    .Comppra-pt_Tamanhos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 220px;
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
    }

    .tamanhos {
        display: block;
        position: relative;
        height: 40px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .tamanhos input {
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .selected {
        display: block;
        height: 34px;
        width: 34px;
        margin: 2px;
        top: 0;
        left: 0;
        font-size: 22px;
        text-align: center;
        background-color: #f6f6f6;
        border: 2px #000 solid;
        border-radius: 4px;
    }

    .tamanhos:hover input~.selected {
        background-color: rgb(196, 196, 196);
    }

    .tamanhos input:checked~.selected {
        background-color: rgb(177, 177, 177);
    }

    .imgs{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 240px;
        max-width: 600px;
        width: 100%;
        border: 1px solid #000;
    }


    .desc{
        display: flex;
        justify-content: space-around;
    }

    .descricao{
        display: flex;
        flex-direction: column;
        justify-content: center;

        label{
            width: 450px;
            height: 150px;
            border: #000 1px solid;
        }
        textarea{
            font-size: 16px;
            background: none;
            outline: none;
            border: none;
            width: 100%;
            height: 100%;
            padding: 5px;
            resize: none;
        }
    }
    
}