.inalizar-Compra{

    .tenis-Preto {
        height: 100%;
        width: 100%;
        max-width: 140px;
        max-height: 130px;
    
    }
    
    .tenis-Preto {
        width: 120px;
        height: 140px;
    }

}


