
.ADM-page {


    .ADM {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .adm {
        display: flex;
        flex-direction: row;
    }

    .Filtro-ADM-add {

        background-color: #2A3042;
        max-width: 60%;
        max-height: 100%;
        padding: 20px;

        p {
            color: #FFF;
            font-family: 'Font2';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        h1 {
            color: #ffffff77;
            font-family: 'Font2';
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 10px;
            cursor: pointer;
        }

        h1:hover {
            transform: scale(1.1);
            padding: auto;
            opacity: 1;
            color: aquamarine;
        }
    }

    .ADM-Cabecalho-add {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        width: 100%;
        margin-top: 10px;
    }

    .ADM-Pessoa-add {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 130px;
        width: 100%;

        img {
            margin-top: 10px;
            height: 45px;
            width: 45px;
            background-color: #fff;
            border-radius: 40px;
        }

        h2 {
            color: #ffffff;
            font-family: 'Font2';
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            margin-top: 10px;
            margin-left: 10px;

        }
    }



    .hamburguer-icon {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .line {
            width: 100%;
            height: 4px;
            background-color: #333;
            border-radius: 2px;
        }
    }

    .ADM-Header {
        display: flex;
        flex-direction: column;
    }

    .ADM-Cabecalho {
        display: flex;
        align-items: center;
    }

    .ADM-Pessoa {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .ADM-Pessoa img {
        width: 19px;
        height: 19px;
    }

    .ADM-Pessoa h2 {
        color: #494949;
        font-family: 'Font5';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .content-adm {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
    }


    .VGN-Shoes {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 5px;

        background-color: #FFF;
        box-shadow: 0px 0px 14px #333;


        max-width: 800px;
        width: 100%;
        height: 100%;
        padding: 5px 0px;
        margin: 10px 0px;

    }

    .Shoes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        h1 {
            font-family: 'Font5';
            font-size: 18px;
            font-style: normal;
            line-height: normal;
        }
    }
    .pesq{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        max-width: 200px;
        max-height: 20px;
        background-color: #d6d6d6;
        border-radius: 4px;
        padding: 4px 8px;


        input{
            width: 100%;
            height: 100%;

            background: none;
            outline: none;
            border: none;
        }
        
    }
    

    .user-info{
        overflow: hidden;
        
        table{
            background: #FFFDFD;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            text-align: start;
            max-height: 800px;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        tr{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: left;
            border-collapse: collapse;
            border-bottom: 1px solid #2A3042;
            padding: 10px 10px;
            position: relative;
        }
        td{
            max-height: 20px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .hed{
            background-color: #2A3042;
            color: #FFF;
            font-size: 18px;

            th{
                width: 100%;
                height: 100%;
            }
        }

    }

}