@font-face {
    font-family: Font1;
    src: url(./AoboshiOne-Regular.ttf);
}
@font-face {
    font-family: Font2;
    src: url(./ABeeZee-Italic.ttf);
}
@font-face {
    font-family: Font3 ;
    src: url(./Anton-Regular.ttf);
}