.pag-rodape{
  display: flex;
  flex-direction: column;
  max-height: 600px;
  height: 100%;
  width: 100%;
  background-color: #38B593;
  padding: 30px;
  align-items: center;
  justify-content: center;
  
  .linha-fantasma{
    max-width: 1700px;
    height: 1px;
    width: 100%;
    background-color: #ffff;
    margin-bottom: 10px;
  }

  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10px;

    #card-pag{
      align-items: center;
      img{
        max-width: 200px;
        max-height: 86px;
        width: 100%;
        height: 100%;
      }
    }
  }
  .cards{
    display: flex;
    flex-direction: column;
    margin: 10px;

    h1{
      font-size: 20px;
      color: #fff;
    }

    a{
      font-size: 14px;
      color: #f6f6f6;
      cursor: pointer;
    }
    
  }

  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h6{
      font-size: 10px;
      letter-spacing: 0.5px;
      margin: 5px;
      color: #f6f6f6;
      text-align: center; 
    }
  }

  @media screen and (max-width: 660px){
    .content{
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width:460px){
    #card-pag{
      display: none;
    }
  }
}