
.Promo-tenis img{
  max-height: 100%;
  max-width: 100%;
}
.Promo-tenis01 img{
  margin-top: 15px;
  max-height: 100%;
  max-width: 100%;
}

.Compra-tenis{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-block-end: 20px;
}


.Tenis-01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.Tenis-01:hover{
  transition: transform 0.3s ease;
  padding: auto;
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
  border-radius: 30px;
  border: 2px solid #000;
}


.tenis{
  width: 150px;
 height: 180px;
}

.Infos-text {
  display: flex;
  border-radius: 19px;
 background-color: rgba(177, 177, 177, 0.26);
 width: 220px;

}

.Infos-text h1{
  color: black ;
  text-align: center;
  font-size:18px;
width: 590px;

}

.info-compra h2{
color: #2A972E;
}

.estrelas img{
  width: 26px;
  height: 27.174px;
  margin-top: 12px;
}

.Tenis-Branco{
  display: flex;
  flex-direction: row;
  background: linear-gradient(180deg, #38B593 0%, #D9D9D9 35.09%, #C5C5C5 66.23%, #38B593 100%);
  flex-shrink: 0;
}
.Tenis-Branco img{
  width: 500px;
  height: 500px;
}

.Texto1 h1{
  
  font-size:18px;
 padding: 55PX;
  width: 228px;
text-align: center;

}
.Texto3 h1{
  font-size:18px;
  margin: 90px;
  width: 228px;
text-align: center;
}

a{
  text-decoration: none;
}