.Pagina-compra {
    background-color: rgba(255, 255, 255, 0.438);

    .Produtos-compra {
        display: flex;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 0.438);
        padding: 20px;
    }

    .Compra-Filtros {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        width: 100%;

    }

    .Filter-Preco {
        align-self: flex-start;
        position: relative;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between !important;
        width: 100%;
        height: 40%;
    }

    .filter_range {
        z-index: 1;
        position: absolute;
        -webkit-appearance: none;
        width: 180px;
        height: 5px;
        background: #1c631f;
        outline: none;
        -webkit-transition: .2s;
        transition: opacity .2s;
        border-radius: 20px;
        pointer-events: auto;
    }

    .filter_range:last-child {
        left: 20px;
    }

    .filter_range:hover {
        opacity: 1;
    }

    .filter_range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #1c631f;
        cursor: pointer;
        border-radius: 20px;
        z-index: 2;
    }

    .filter_range::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background: #007bff;
        cursor: pointer;

    }

    .Filtro-Preco {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #FFF;
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 250px;
        border-bottom: #000 1px solid;

        h1 {
            font-size: 24px;
            color: #000;
        }

        div {
            display: flex;
            justify-content: space-between;

        }

        .preco {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;

            height: 50px;
            width: 100%;

            input {
                width: 90px;
                padding: 8px;
                font-size: 16px;
                text-align: center;
                border: none;
                background-color: rgba(177, 177, 177, 0.26);
                border-radius: 5px;
                outline: none;
            }
        }

    }


    .Filtro-Tamanho {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 200px;
        max-height: 150px;
        width: 100%;
        height: 100%;

        border-bottom: #000 1px solid;

        h1 {
            font-size: 24px;
            color: #000;
        }
    }


    .test {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;

        select {

            background-color: #ffffff;
            cursor: pointer;
            margin-top: 10px;
        }
    }

    .size-selector {
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;

        select {
            font-size: 14px;
            border: none;
            background-color: rgba(177, 177, 177, 0.26);
            padding: 4px 8px;
            border-radius: 5px;
            outline: none;
        }

        option {
            border: none;
            text-align: center;
        }
    }

    .option {
        padding: 100px;
    }

    .Filtro-Genero {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        max-height: 200px;
        height: 150px;
        text-align: center;

        border-bottom: #000 1px solid;

        h1 {
            font-size: 24px;
        }

        select {
            font-size: 14px;
            border: none;
            background-color: rgba(177, 177, 177, 0.26);
            padding: 4px 8px;
            border-radius: 5px;
            outline: none;
        }

        option {
            border: none;
            text-align: center;
        }
    }


    .Filtro-Modelos {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: #FFF;
        width: 100%;
        max-width: 180px;
        margin-top: 50px;
    }

    .Modelos {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    .Filtro-Cor {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 100px;
        width: 100%;
    }

    .Filtro-Cor div {
        width: 25px;
        height: 25px;
        border-radius: 20px;
    }

    .Preto {
        background: #000;
    }

    .Roxo {
        background: rgba(57, 53, 246, 0.78);
    }


    .Rosa {
        position: relative;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .Rosa input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #F095C1;
        border-radius: 200px;
    }

    .Rosa:hover input~.checkmark {
        background-color: #e94996;
    }

    .Rosa input:checked~.checkmark {
        background-color: #e94996;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .Rosa input:checked~.checkmark:after {
        display: block;
    }

    .Rosa .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid #F095C1;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    .Marrom {
        background: rgba(142, 97, 97, 0.85);
    }

    .Laranja {
        background: #FE764B;
    }

    .Verde {
        background: rgba(44, 89, 46, 0.79);
    }

    a {
        color: #000;
        text-decoration: none;
    }

    //////////////////////

    .Shoop-compra {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

    }

    .Compra-Linha01 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #FFF;
        height: 100%;
        width: 100%;
        max-width: 180px;
        max-height: 320px;
        padding: 22px;
    }

    .Compra-Linha01:hover {

        transition: transform 0.3s ease;
        cursor: pointer;
        transform: scale(1.1);
        opacity: 1;
        box-shadow: 0px 0px 10px #6b6b6b;
    }

    .tenis-Preto {
        height: 100%;
        width: 100%;
        max-width: 140px;
        max-height: 130px;

    }

    .Compra-Texto {
        display: flex;
        background-color: rgba(177, 177, 177, 0.26);
        width: 100%;
        max-width: 180px;

        h1 {
            text-align: center;
            font: 14px 'Font4';
            padding: 8px;
            font-weight: bold;
        }
    }

    .Compra-Estrelas img {
        height: 100%;
        width: 100%;
        max-width: 25px;
        max-height: 20px;

        cursor: pointer;
    }



    .Compra-Preco {

        h2 {
            font-size: 14px;
            color: #2A972E;
        }

        h3 {
            font-size: 14px;
        }

        .products-container {
            max-height: 300px;
            max-width: 180px;
            height: 100%;
            width: 100%;
            border-radius: 10px;
            flex: none;
            margin: 0px 10px;
            display: flex;
            justify-content: center;
            align-items: center;
           ;
            
    
            img {
                height: 100%;
                max-width: 140px;
                max-height: 180px;
                width: 100%;
            }
    
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            line-height: 1.5;
            font-weight: 500;
    
        }
    }


    @media (max-width: 768px) {

        .Compra-Linha01 {
            background-color: #FFF;
            width: 120px;
            height: 255px;
            margin-top: 25px;
            padding: 30px;
        }

        .Compra-Filtros {
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 10px;

        }

        .tenis-Preto {
            width: 120px;
            height: 140px;
        }

        .Compra-Texto {
            display: flex;
            background-color: rgba(177, 177, 177, 0.26);
            width: 110px;
        }

        .Compra-Estrelas img {
            width: 15px;
            height: 15px;
            margin: 1px;
            margin-top: 12px;
            cursor: pointer;
        }

        .Compra-Texto h1 {
            text-align: center;
            font-size: 10px;
            width: 500px;
        }

        .Compra-Preco h2 {
            font-size: 12px;
            color: #2A972E;
        }

        .Compra-Preco h3 {
            font-size: 10px;
            color: #000;
        }


        .Compra-Filtros {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 20px;

        }


        .Filtro-Genero h1 {
            font-size: 15px;
        }

        .Filtro-Genero h2 {
            font-size: 15px;
        }


        .Filtro-Cor {
            display: flex;
            margin: 10px;
            align-items: center;
        }

        .Preto {
            width: 25px;
            height: 25px;
            transform: rotate(0.211deg);


            background: #000;
            cursor: pointer;
        }

        .Roxo {
            width: 25px;
            height: 25px;
            ;
        }

        .Rosa {
            width: 25px;
            height: 25px;

        }

        .Marrom {
            width: 25px;
            height: 25px;

        }

        .Laranja {
            width: 25px;
            height: 25px;

        }

        .Verde {
            width: 25px;
            height: 25px;

        }



        //////////////////////
        

        .product-card {
            width: 100%;
            max-width: 300px;
            background-color: white;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            margin: 0 auto;
            position: relative;
          }
          
          .card__image {
            width: 100%;
          }
          
          .card__infos {
            padding: 20px;
            border-top: 1px solid #ddd;
          }
          
          .card__price {
            font-size: 30px;
            font-weight: 400;
            display: block;
            margin-bottom: 10px;
          }
          
          .card__title {
            font-size: 15px;
            color: rgba(0, 0, 0, 0.5);
            line-height: 1.5;
            font-weight: 500;
          }
          
          .button__add-cart {
            position: absolute;
            top: 0;
            right: 0;
            width: 45px;
            height: 45px;
            margin: 12px 15px;
            color: #0c5dd6;
            display: none;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 50px;
            background-color: rgba(255, 255, 255, 0.8);
            font-size: 1.5rem;
            cursor: pointer;
          }
          
          .product-card:hover {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          }
          
          .product-card:hover .button__add-cart {
            display: flex;
          }



    }
}