.Pagina-MeusDados {
    .Gigiz {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        

    }

    .Meus-Dados {
        display: flex;
        justify-content: center;
    }

    .Meus-Dados h1 {
        color: #000;
        font-family: 'Font5'errat;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .Dados-Usuario {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1700px;
        max-height: 1200px;
    }

    .Conta-Dados {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 22px;

        img {
            max-width:90px ;
            max-height:90px ;
            width: 100%;
            height: 100%;
            margin: 5px;
        }

        h2 {
            color: #000;
            font-family: 'Font5'errat;
            font-size: 25px;
            font-style: normal;
            font-weight: 500;
            padding: 10px;
        }
    }


    .Linha-Dados {
        width: 254px;
        height: 1px;
        background-color: #BCBCBC;
    }

    .acao-MeusDados {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        max-width: 260px;
        max-height: 514px;
        border-radius: 11px;
        border: 1px solid #BCBCBC;
        background: #FFF;
        margin-left: 25px;
    }

    .acao-MeusDados h3 {
        color: #000;
        font-family: 'Font5';
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .acao-MeusDados img {
        width: 20px;
        height: 20px;
        margin: 10px;
    }



    .Dados img {
        width: 30px;
        height: 30px;
        margin: 20px;
    }

    .Dados {
        display: flex;
        flex-direction: row;
        max-width: 450px;
        max-height: 250px;
        height: 100%;
        width: 100%;
        border-radius: 11px;
        border: 1px solid #BCBCBC;
        background-color: #BCBCBC;
        background: rgba(246, 246, 246, 0.96);
        margin-left: 10px;
        padding: 10px;
        border-radius: 11px;
    }

    .MeusDados {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: #000000 solid 1px;
        padding: 5px;
        margin: 5px;
    }

    .llDados {
        display: flex;
        justify-content: space-around;
        padding: 1px;
    }

    .Linhamento-MeusDados {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 10px;
    }

    .Linhamento-MeusDados02 {
        display: flex;
        flex-direction: column;
        margin: 10px;
        margin-left: 20px;
    }

    .Input-dados {
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 30px;
        margin-top: 20px;
        text-align: start;
        border: solid #f1f1f1;
        outline: none;
    }

    .Name-dados{
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
}