.tela-login {


    .Conta-Test {
        display: flex;
        flex-wrap: nowrap;
        background: rgba(235, 235, 235, 0.93);
        justify-content: center;
        align-items: center;
        padding: 70px;
        max-width: 100%;
        max-height: 100%;
    }

    .cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        background-color: #FFF;
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        width: 341px;
        height: 470px;

        p {
            color: #38B593;
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        button {
            border-radius: 20px;
            background: #38B593;
            color: #FFF;
            width: 150px;
            height: 30px;
            padding: 5px 0px 13px 0px;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
        }

        input {
            padding: 5px 0px 10px 0px;
            max-width: 200px;
            width: 100%;
            margin-top: 10px;
            text-align: start;
            border: 2px solid #656060;
            outline: none;
            cursor: pointer;
        }
    }



    .criar-conta h1 {
        color: #38B593;
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .infos-cliente-login {
        display: flex;
        flex-direction: column;
    }

    .rede-sociaveis img {
        width: 32px;
        height: 32px;
        margin: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .rede-sociaveis img:hover {
        transform: scale(1.1);
        padding: auto;
        opacity: 1;
    }



    .Bem-vindo {
        display: flex;
        align-items: center;
        text-align: center;
        background: #06A67E;
        justify-content: center;
        border-radius: 10px;
        max-width: 100%;
        max-height: 100%;
        width: 321px;
        height: 470px;


    }

    .Bem-vindo-login {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        h1 {
            color: #FFF;
            font-family: Montserrat;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        p {
            color: #FFF;
            width: 170px;
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 140.4%;
        }

        button {
            text-align: center;
            border-radius: 20px;
            background: #38B593;
            color: #FFF;
            padding: 5px 50px 13px 50px;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;

        }
    }

    




}