.pagina-ultimopedido {


    .Ultimo-Pedido {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;
    }

    .Conta-perfil {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
    }

    .Conta-perfil img {
        max-width: 50px;
        max-height: 50px;
        height: 100%;
        width: 100%;
    }


    .acao-UltimoPedido {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        border: 1px solid #BCBCBC;
        background: #FFF;

    }

    .menu {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: #BCBCBC solid 1px;


        img {
            max-width: 20px;
            max-height: 20px;
            height: 100%;
            width: 100%;
        }

        h3 {
            font-family: 'Font6';
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            padding: 5px;
        }
    }

    .menu:hover {
        cursor: pointer;
    }

    .pedidos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        border-bottom: 1px solid #BCBCBC;

    }



    .Pedidos01 {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 980px;
        max-height: 420px;
        height: 100%;
        width: 100%;
        border: 1px solid #BCBCBC;
        border-radius: 10px;
        background: #FFF;
        overflow: auto;

    }

    ::-webkit-scrollbar {
        width: 0px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #ffffff;
        border-radius: 10px;
    }


    .Tenis-Pedido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        img {
            max-width: 140px;
            max-height: 240px;
            height: 100%;
            width: 100%;
        }

        h4 {
            font-family: 'Font4';
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5;
            text-align: start;
        }
    }


    .Status-Pedido {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-left: #afafaf solid 1px;
        border-right: #afafaf solid 1px;
        max-width: 500px;
        width: 100%;
        height: 180px;



        h5 {
            font-family: 'Font4';
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

        }

        a {
            font-family: 'Font5';
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .Cancelar {
        color: #000000;
        padding: 5px 50px;
        border-radius: 20px;
        background: #ffffff;
        border: 1px solid #3B0060;
        cursor: pointer;
        font-family: 'Font5';
        font-size: 12px;
        font-style: normal;
        font-weight: 700;

    }



    .Acompanhar_Entrega {
        color: #fff;
        padding: 5px 14px;
        border-radius: 20px;
        background: #3B0060;
        cursor: pointer;

        font-family: 'Font5';
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }



    .Status-Pedido img {
        max-width: 400px;
        max-height: 50px;
        height: 100%;
        width: 100%;

    }

    .resumo_do_pedido {
        display: flex;
        flex-direction: column;


        h6 {
            font-family: 'Font4';
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.5;
            text-align: start;
        }
    }

    @media (max-width: 780px) {
        .pedidos img {}

        .pedidos h4 {
            font-size: 9px;
        }


    }

}