.tela-login {


    .Conta-Test {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        background: rgba(235, 235, 235, 0.93);
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        padding: 40px 0px;
    }

    .cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        max-width: 450px;
        max-height: 500px;
        height: 600px;
        width: 100%;

        p {
            color: #38B593;
            font-family: Montserrat;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-top: 10px;
            margin-bottom: 9px;
        }

        button {
            font-size: 12px;
            text-align: center;
            border-radius: 20px;
            background: #38B593;
            color: #FFF;
            padding: 8px 40px;
            border: none;
            cursor: pointer;
        }

        input {
            padding: 5px 0px 10px 0px;
            max-width: 200px;
            width: 100%;
            margin-top: 10px;
            text-align: start;
            border: 2px solid #f1f1f1;
            outline: none; 
        }
    }



    .criar-conta h1 {
        color: #38B593;
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .infos-cliente-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height:100% ;
        width:100% ;
        max-width:400px ;
        max-height:100px ;

    }

    .rede-social {
       max-width:25px ;
       max-height:25px ;
        width: 100%;
        height:100%;
        margin: 10px;
        cursor: pointer;
        transition: transform 0.3s ease;

    }
    .google{
        max-width:32px ;
        max-height:32px ;
         width: 100%;
         height:100%;
         margin: 7px;
         cursor: pointer;
         transition: transform 0.3s ease;
    }

    .rede-sociaveis img:hover {
        transform: scale(1.1);
        padding: auto;
        opacity: 1;
    }



    .Bem-vindo {
        display: flex;
        align-items: center;
        text-align: center;
        background-image: url(../../../../public/assets/images/image.png);
        background-position-x: center;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 500px 600px;
        height: 500px;
        width: 350px;
    }

    .bem-vindo-login {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 20px;
            color: #FFF;
            

        }

        p {
            color: #FFF;
            font-size: 0.8em;
            font-weight: 400;
           
        }

        button {
            text-align: center;
            border-radius: 20px;
            border-color: #FFF;
            background-color: transparent;
            color: #FFF;
            cursor: pointer;
            padding: 8px 70px;
            border: 1px solid #fff;

        }
    }

    @media (max-width:780px) {
        .Conta-Test {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .Bem-vindo {
            max-width: 100%;
            max-height: 100%;
            width: 321px;
            height: 220px;
        }

        .bem-vindo-login {
        
            p {
                font-size: 14px;
                max-width: 200px;
                width: 100%;
            }
    
        }
    }


}