.Conta-ADM {
    display: flex;
    flex-wrap: nowrap;
    background: rgba(235, 235, 235, 0.93);
    justify-content: center;
    padding: 70px;
    max-width: 100%;
    max-height: 100%;
}

.cadastro-ADM {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 50px;
    width: 30vw;
    height: 54vh;
}

.cadastro p {
    color: #38B593;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.criar-conta h1 {
    color: #38B593;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Infos-Cliente {
    display: flex;
    flex-direction: column;
}



.Input-ADM {
    padding: 5px 0px 10px 10px;
    width: 25vw;
    background: #FFF;
    margin-top: 10px;
    text-align: start;
    border: solid #f1f1f1;
    outline: none;

}



.cadastro-button {
    border-radius: 20px;
    background: #38B593;
    color: #FFF;
    width: 150px;
    height: 30px;
    padding: 5px 0px 13px 0px;
    border: none;
    cursor: pointer;
}