.landing-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2A972E;
    max-height: 100%;
    max-width: 100%;
    padding: 2px;
  }

.landing-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2A972E;
    max-height: 100%;
    max-width: 100%;
    padding: 2px;
  }
  
  .Landing-PT{
    display: flex;
    align-items: center;
  
  }
  
  .Icons-page2 img{
    margin: 12px;
    width: 35px;
    height: 25px;
  }
  
  .Icons-page2:hover img{
    transition: transform 0.3s ease;
      width: auto;
      height: auto;
  }
  
  .Icons-page1{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Infos-Page2{
    display: flex;
    align-items: center;
  }

  .Infos-Page2:hover img{
    transition: transform 0.3s ease;
    width: auto;
    height: auto;
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
  }
  
  .input_Header {
    text-align: center;
    border-radius: 40px;
    width: 80vh;
    height: 3vw;
  
  
  }
  .Icons-page1 img{
    width: 100px;
    height: 100px;
  }
  
  .Infos-Page1{
    display: flex;
    align-items: center;
    background-color: #40A34C;
    max-height: 100%;
    max-width: 100%;
    
    margin-top: 25px;
  }
  
  .Infos-Page1 img{
    margin: 2.8px;
   max-width: 20px;
   max-width: 25px;
  
  }

  
  .What-face{
    display: flex;
    align-items: flex-start;
  }
  .Insta-din{
    display: flex;
  }
  .Buscas-infos{
    margin: 0px 55vh;
  }
  .Buscas-infos a {
    margin: 0px 10px;
  }