.landing-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2A972E;
    max-height: 100%;
    max-width: 100%;
    padding: 2px;
  }

.landing-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #38B593;
    max-height: 100%;
    max-width: 100%;
    padding: 2px;
  }
  
  .Landing-PT{
    display: flex;
    align-items: center;
  
  }
  
  .Icons-page2 img{
    margin: 12px;
    width: 35px;
    height: 25px;
  }
  
  .Icons-page2:hover img{
    transition: transform 0.3s ease;
      width: auto;
      height: auto;
  }
  
  .Icons-page1{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Infos-Page2{
    display: flex;
    align-items: center;
  }

  .Infos-Page2:hover img{
    transition: transform 0.3s ease;
    width: auto;
    height: auto;
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
  }
  
  .input_Header {
    text-align: center;
    border-radius: 40px;
    width: 80vh;
    height: 3vw;
  
  
  }
  .Icons-page1 img{
    width: 100px;
    height: 100px;
  }
  
  .Infos-Page1{
    display: flex;
    align-items: center;
    background: #38B593;
    max-height: 100%;
    max-width: 100%;
    
    margin-top: 25px;
  }
  
  .Infos-Page1 img{
    margin: 2.8px;
   max-width: 20px;
   max-width: 25px;
  
  }

  
  .What-face{
    display: flex;
    align-items: flex-start;
  }
  .Insta-din{
    display: flex;
  }
  .Buscas-infos{
    margin: 0px 55vh;
  }
  .Buscas-infos a {
    margin: 0px 10px;
  }

  .Descrisão{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 100px;
    

  }

.Descrição-compra{

  border-radius: 30px;
  border: 5px solid #000;
  background: #FFF;
  margin-top: 100px;
  width: 60vw;
height: 150px;
}

  .Descrição-compra h1{
    color: #000;
    font-family: Baloo Paaji 2;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    width: 800px;
    line-height: normal;
    
  }

  .Descrisão-Produto{
    border-radius: 30px;
    border: 5px solid #000;
    background: #FFF;
    margin-top: 10px;
    width: 60vw;
  height: 600px;
  }

  .Descrisão-Produto h1{
    color: #000;
    font-family: Baloo Paaji 2;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    width: 500px;
    line-height: normal;
  }

