.landing-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #38B593;
    max-height: 100%;
    max-width: 100%;
    padding: 2px;
  }
  
  .Landing-PT{
    display: flex;
    align-items: center;
  }
  
  .Icons-page2 img{
    margin: 15px;
    width: 29px;
    height: 29px;
  }
  
  .Icons-page2 img:hover{
    transition: transform 0.3s ease;
    transform: scale(1.1);
      width: auto;
      height: auto;
      cursor: pointer;
      opacity: 1;
  }
  
  .Icons-page1{
    display: flex;
    align-items: center;
  }
  .Infos-Page2{
    display: flex;
    align-items: center;
  }

  
  .input_Header {
    text-align: center;
    border-radius: 40px;
    width: 700px;
    height: 52px;
  }
  .Icons-page1 img{
    width: 100px;
    height: 100px;
  }
  
  .Infos-Page1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #38B593;
    background: #38B593;
    max-height: 100%;
    max-width: 100%;
    padding: 10px;

  }
  
  .Infos-Page1 img{
    margin: 8px;
   max-height: 20px;
   max-width: 25px;
  
  }

  .Infos-Page1 img:hover{
    transition: transform 0.3s ease;
    width: auto;
    height: auto;
    cursor: pointer;
    transform: scale(1.5);
    opacity: 1;
  }

  
  .What-face{
    display: flex;
    align-items: flex-start;
  }
  .Insta-din{
    display: flex;
  }
  .Buscas-infos{
   display: flex;
   justify-content: space-evenly;
  }
  .Buscas-infos a {
    font-family: Alata;
    padding: 5px;
    color: #FFF;
  }


