
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: #06A67E;
    max-width: 100%;
}

.Seja-bemVindo{
    display: flex;
    align-items:center;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.Seja-bemVindo h1{
    color: #FFF;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Seja-bemVindo h2{
    color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 140.4%;
width: 212px;
}


.Redes-informe{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Redes-informe img{
    width: 36px;
    height: 32px;
    cursor: pointer;
    margin: 16px;
    transition: transform 0.3s ease;    
}

.Redes-informe img:hover{
    transform: scale(1.8);
    opacity: 1;
}

.Redes-informe h1{
    color: #38B593;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


.Test2{
    display: flex;
    justify-content: center;
    background-color: #FFF;
    width: 60vw;

}
.Conta-Info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Infos-Cliente{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Input-criar_conta{
    padding: 10px 121px 7px 15px;
    background: #FFF;
    margin-top: 10px;
    text-align: start;
    font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 600;
color: #9A9A9A;
}

.Button-Criar{
    width: 158px;
    height: 39px;
    padding: 14px 0px 13px 0px;
    margin-top: 50px;
    margin-block-end: 25px;
}
.Button-Criar:hover{
    background-color: #31AA45;
}