    .pagina-compra-pt2 {


        .Compra-pt2 {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;



        }

        .nome-produto {
            color: #38B593;
            font-size: 28px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 30px;

        }

        .todoMundo {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
        }



        .Compra-imgg {
            display: flex;
            flex-direction: row;

        }



        .tenis-Grande img {
            max-width: 325px;
            max-height: 300px;
            width: 100%;
            height: 100%;
            margin-bottom: 60px;
            margin-left: 35px;


        }

        .Tenis-Menores {
            display: flex;
            margin-right: 30px;


            .tenizinho {
                max-width: 100px;
                max-height: 100px;
                width: 100%;
                height: 100%;
                margin: 20px;

            }

            .ovelha-negra {
                max-width: 110px;
                max-height: 114px;
                width: 100%;
                height: 100%;
                margin: 20px;

            }

        }


        .imgs {
            padding: 10px;
        }

        .imgs img {
            margin: 5px;
        }

        .Compra-pt_info {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 450px;
            max-height: 850px;
            height: 100%;
            width: 100%;


            h1 {
                font: 20px 'font5';
                font-weight: 650;
                margin-bottom: 18px;


            }

            h2 {
                font: 19px 'font5';
                font-weight: 650;
                margin-bottom: 15px;
            }

            h3 {
                font: 19px 'font5';
                font-weight: 750;
                margin-bottom: 3px;


            }


            h4 {
                color: #40A34C;
                text-align: center;

                font-size: 20px;
                font-style: normal;
                font-weight: 550;
                line-height: normal;
                margin-bottom: 5px;
            }

        }



        .Estrela-info-pt2 {
            display: flex;
            flex-direction: row;

            img {
                margin: 5px;
                max-width: 40px;
                max-height: 21px;
                height: 100%;
                width: 100%;
            }
        }



        .Filtro-Cor-pt2 {
            display: flex;
            margin: 10px;
            align-items: center;
        }

        .Compra-pt_info button {
            color: #FFF;
            padding: 10px 70px;
            border-radius: 20px;
            background-color: #3B0060;
            border: none;
            cursor: pointer;
            margin-top: 20px;
            font: 15PX 'font5';
            font-weight: 500;
        }

        .Compra-pt_info button:hover {
            transform: scale(1.1);
            padding: auto;
            opacity: 1;
        }

        .Comppra-pt_Tamanhos {
            display: flex;
        }

        .Comppra-pt_Tamanhos h2 {
            padding: 10px;
            margin-left: 20px;
            border-radius: 5px;
            border: 2px solid #000;
            cursor: pointer;
        }

        .Descrisão {
            display: flex;
            flex-direction: column;
            display: flex;
            align-items: center;
            margin-top: 150px;
        }

        .Descrição-compra {
            width: 900px;
            height: 170px;
            text-align: center;
            border-radius: 30px;
            border: 2px solid #000;
        }

        .Descrição-compra h1 {
            margin-left: 50px;
            color: #000;
            font-family: Baloo Paaji 2;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 800px;
        }

        .Descrisão-Produto {
            width: 880px;
            height: 550px;
            text-align: start;
            border-radius: 30px;
            border: 2px solid #000;
        }

        .Descrisão-Produto h1 {
            margin-left: 50px;
            color: #000;
            font-family: Baloo Paaji 2;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: 800px;
        }

    }