.Meus-Dados{
    display: flex;
    justify-content: center;
    
}

.Dados-Usuario{
    display: flex;
    margin-top: 50px;
    margin-block-end: 100px;
}

.Conta-Dados{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.Conta-Dados img{
    margin: 10px;
}

.Linha-Dados{
    width: 254px;
height: 1px;
background-color: #BCBCBC;
}

.acao-MeusDados{
    display: flex;
    flex-direction: column;
    max-width: 25%;
    max-height: auto;
    border-radius: 11px;
    border: 1px solid #BCBCBC;
    background: #FFF;
    margin-left: 25px;
}

.Dados{
    display: flex;
    align-items: center;
    padding: 10px;
}

.Dados img{
    width: 30px;
    height: 30px;
    margin: 20px;
}

.Dados{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    max-height: auto;
    border-radius: 11px;
    border: 1px solid #BCBCBC;
    background: #FFF;
    margin-left: 10px;

    
}
