@font-face {
    font-family: Font1;
    src: url(./assets/fonts/AoboshiOne-Regular.ttf);
}
@font-face {
    font-family: Font2;
    src: url(./assets/fonts/ABeeZee-Italic.ttf);
}
@font-face {
    font-family: Font3 ;
    src: url(./assets/fonts/Anton-Regular.ttf);
}