@font-face {
    font-family: Font1;
    src: url( ../public/assets/fonts/Anton-Regular.ttf)format('truetype');
}
@font-face {
    font-family: Font2;
    src: url(../public/assets/fonts/ABeeZee-Italic.ttf)format('truetype');
}
@font-face {
    font-family: Font3 ;
    src: url(../public/assets/fonts/Anton-Regular.ttf)format('truetype');
}
@font-face {
    font-family: Font4 ;
    src: url(../public/assets/fonts/Rubik-VariableFont_wght.ttf)format('truetype');
}
@font-face {
    font-family: Font5;
    src: url(../public/assets/fonts/Montserrat-VariableFont_wght.ttf)format('truetype');
}
@font-face {
    font-family: Font6 ;
    src: url(../public/assets/fonts/Inter-VariableFont_slnt.wght.ttf)format('truetype');
}
@font-face {
    font-family: Font7 ;
    src: url(../public/assets/fonts/Antic-Regular.ttf)format('truetype');
}
@font-face {
    font-family: Font8 ;
    src: url(../public/assets/fonts/BalooPaaji2-VariableFont_wght.ttf)format('truetype');
}
@font-face {
    font-family: Font9 ;
    src: url(../public/assets/fonts/BalooPaaji2-VariableFont_wght.ttf) format('truetype');
}