@font-face {
    font-family: Font1;
    src: url(./AoboshiOne-Regular.ttf);
}
@font-face {
    font-family: Font2;
    src: url(./ABeeZee-Italic.ttf);
}
@font-face {
    font-family: Font3 ;
    src: url(./Anton-Regular.ttf);
}
@font-face {
    font-family: Font4 ;
    src: url(./Rubik-VariableFont_wght.ttf);
}
@font-face {
    font-family: Font5;
    src: url(./Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Font6 ;
    src: url(./Inter-VariableFont_slnt.wght.ttf);
}
@font-face {
    font-family: Font7 ;
    src: url(./Antic-Regular.ttf);
}
@font-face {
    font-family: Font8 ;
    src: url(./BalooPaaji2-VariableFont_wght.ttf);
}
@font-face {
    font-family: Font9 ;
    src: url(./BalooPaaji2-VariableFont_wght.ttf);
}